@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/*=====-- Global Variables --=====*/
:root {
  --color: #61DAFB;
  --color-1: #13131f;
  --color-2: #161623;
  --color-3: #a9afc3;
  --color-4: #202324;
  --color-5: #454a4d;
  --color-6: #60696e;
  --shadow: inset 8px 8px 10px rgba(255, 255, 255, 0.2), inset -10px -10px 15px rgba(0, 0, 0, 0.9);
}


/*=====-- CSS Resets --=====*/
::-moz-selection {
  background-color: var(--color-5);
  color: #fff;
}

::selection {
  background-color: var(--color-5);
  color: #fff;
}

::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-track {
  background-color: var(--color-4);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-5);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-6);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  scrollbar-color: var(--color-5) var(--color-4);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-1);
  color: var(--color-3);
}

input,
button,
textarea {
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
}

textarea {
  resize: vertical;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

img,
svg {
  vertical-align: middle;
  user-select: none;
}


/*=====-- Common Styles --=====*/
.section {
  min-height: 100vh;
  padding: 1rem;
  display: grid;
  place-items: center;
}

.container {
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.overflow_hide {
  overflow: hidden;
}

.modal_centered {
  min-height: calc(100% - 3rem);
  margin: 1.5rem;
  display: grid;
  place-items: center;
}

@media (max-width: 576px) {
  .modal_centered {
    min-height: calc(100% - 1rem);
    margin: 0.5rem;
  }
}